*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --main-color: #4911ff;
  --secondary-color: #ffd2f9;
}

body {
  background-color: var(--secondary-color);
}

.navbar {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  background-color: var(--secondary-color);
  padding: 0;
  border: 4px solid var(--main-color);
  border-radius: 25px;
  height: 80px;
  box-sizing: border-box; /* Padding und Border einbeziehen */
}

/* Linkes Element */
.navbar-item {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 0 20px;
  border-right: 4px solid var(--main-color);
  font-family: "Erica One", serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  font-weight: bold;
  color: var(--main-color);
  text-decoration: none;
}

.navbar-item:hover {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 0 20px;
  border-right: 4px solid var(--main-color);
  font-family: "Erica One", serif;
  font-size: 16px;
  font-weight: bold;
  color: var(--secondary-color);
  background-color: var(--main-color);
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  cursor: pointer;
}

.navbar-link:hover {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 0 15px;
  border-left: 4px solid var(--main-color);
  font-family: Arial, sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: var(--secondary-color);
  background-color: var(--main-color);
  cursor: pointer;
}

.link-right:hover {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 0 15px;
  border-left: 4px solid var(--main-color);
  font-family: Arial, sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: var(--secondary-color);
  background-color: var(--main-color);
  border-top-right-radius: 18px;
  border-bottom-right-radius: 18px;
  cursor: pointer;
}
/* Rechter Bereich (Gruppe) */
.navbar-group {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
}

.navbar-link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 0 15px;
  border-left: 4px solid var(--main-color);
  font-family: Arial, sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: var(--main-color);
  text-decoration: none;
}

.portrait {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid var(--main-color);
  margin-bottom: 50px;
  transition: transform 0.3s ease;
}

.portrait:hover {
  transform: scale(1.1); /* Vergrößert den Inhalt bei Hover */
}

.title {
  font-size: 110;
  color: var(--main-color);
  font-family: "Erica One", serif;
  margin: 0;
  padding: 0;
}

.intro {
  display: flex;
  flex-direction: column;
  border: 4px solid var(--main-color);
  text-align: center;
  border-radius: 25px;
  margin-top: 30px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: var(--main-color);
}

.caption {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: var(--main-color);
  margin-top: 20px;
  margin-bottom: 30px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  padding-left: 20;
  padding-right: 20;
}

.footer {
  background-color: var(--secondary-color);
  border: 4px solid var(--main-color);
  border-radius: 15px;
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--main-color);
  margin-top: 30px;
}

.footer-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  border-bottom: 4px solid var(--main-color);
}

/* Stil für die Kacheln */
.footer-box {
  border-right: 4px solid var(--main-color);
  padding: 20px;
  text-align: center;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.footer-box:last-child {
  border-right: none;
}

.footer-box img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

/* Unterer Bereich */
.footer-bottom {
  text-align: center;
  padding: 10px;
  font-size: 14px;
  color: var(--main-color);
  background-color: var(--secondary-color);
}

.footer-content {
  transition: transform 0.3s ease;
}

.footer-box:hover .footer-content {
  transform: scale(1.1); /* Vergrößert den Inhalt bei Hover */
}

.accordion-container {
  width: 100%;
  background-color: var(--secondary-color);
  border: 4px solid var(--main-color);
  border-radius: 25px;
  overflow: hidden;
  margin-top: 35px;
}

.accordion {
  width: 100%;
  border-bottom: 4px solid var(--main-color);
}

.accordion:last-child {
  border-bottom: none;
}

.accordion input[type="checkbox"] {
  display: none;
}

.accordion label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--secondary-color);
  color: var(--main-color);
  padding: 15px;
  cursor: pointer;
  font-size: 16px;
  width: 100%;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.accordion label .symbol {
  font-weight: bold;
  font-size: 24px;
}

.accordion .content {
  max-height: 0;
  overflow: hidden;
  background-color: var(--secondary-color);
  padding: 0 15px;
  padding-top: 0;
  transition: max-height 0.3s ease, padding 0.3s ease;
  width: 100%;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--main-color);
}

.accordion input[type="checkbox"]:checked + label + .content {
  max-height: 150px;
  padding: 15px;
}

.accordion input[type="checkbox"]:checked + label .symbol {
  content: "-";
}

p {
  margin: 0;
}

@media screen and (max-width: 980px) {
  .footer-content {
    font-size: 12px; /* Kleinere Werte für schmalere Bildschirme */
  }
}

@media screen and (max-width: 750px) {
  /* Footer-Grundstruktur */
  .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--secondary-color);
    border: 4px solid var(--main-color);
    border-radius: 25px;
    overflow: hidden;
    margin-top: 30px;
    padding: 0;
  }

  /* Footer-Container mit flexibler Struktur */
  .footer-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    border: none;
  }

  .footer-box {
    border: none;
  }
  .footer-content h4 {
    margin-top: 0;
    font-size: 15px;
  }

  .footer-content p {
    font-size: 14px;
  }

  /* Entferne die restlichen Bilder */
  .footer-box:nth-child(1),
  .footer-box:nth-child(3),
  .footer-box:nth-child(4) {
    display: none;
  }

  /* Copyright-Bereich */
  .footer-bottom {
    margin: 0;
    padding: 10px;
    font-size: 12px;
    text-align: center;
    background-color: var(--secondary-color);
    border-top: 4px solid var(--main-color);
    width: 100%;
    box-sizing: border-box;
  }
}

/* Stile für das Hamburger-Menü */
.hamburger-menu {
  display: none; /* Standardmäßig unsichtbar */
  background: none;
  border: none;
  font-size: 30px;
  font-weight: bold;
  color: var(--main-color);
  cursor: pointer;
}

.hamburger-menu:hover {
  color: var(--secondary-color);
  background-color: var(--main-color);
  border-top-right-radius: 18px;
  border-bottom-right-radius: 18px;
}

.side-menu {
  position: fixed;
  top: 0;
  left: -300px; /* Startet außerhalb des Bildschirms */
  width: 300px;
  height: 100%;
  background-color: var(--secondary-color);
  border-right: 4px solid var(--main-color);
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  gap: 0px;
  transition: left 0.3s ease; /* Animation für das Hineinfahren */
  z-index: 1000;
}

/* Link-Stil im Menü */
.side-menu a {
  color: var(--main-color);
  text-decoration: none;
  font-weight: bold;
  font-size: 30px;
  border: 0;
  padding: 0;
  border-top: 4px solid var(--main-color);
  height: 20%;
}

.side-menu .link-bottom {
  border-bottom: 4px solid var(--main-color);
}

.side-menu .navbar-link:hover {
  color: var(--main-color);
  background-color: var(--secondary-color);
  text-decoration: underline;
  text-decoration-thickness: 3px;
  font-weight: bold;
  font-size: 30px;
  border: 0;
  border-top: 4px solid var(--main-color);
  height: 20%;
}

.close-button {
  background: none;
  border: none;
  font-size: 30px;
  cursor: pointer;
  color: var(--main-color);
  align-self: flex-end;
  padding-right: 20px;
  padding-bottom: 20px;
}

@media (max-width: 768px) {
  .navbar-group {
    display: none;
  }

  .hamburger-menu {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
    padding-right: 30px;
  }
}

@media (min-width: 769px) {
  .dropdown-menu {
    display: none;
  }
}

.theme-changer {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 30px;
  border: solid 4px var(--main-color);
  width: 100%;
  border-radius: 25px;
}

.theme-button {
  padding: 10px 10px;
  margin: 20px 5px;
  font-size: 16px;
  font-weight: bold;
  background-color: var(--secondary-color);
  color: var(--main-color);
  border: 4px solid var(--main-color);
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.theme-button:hover {
  background-color: var(--main-color);
  color: var(--secondary-color);
}
